@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom small utilities */
body {
  @apply bg-white text-gray-800;
}

/* Hero background overlay */
.hero-bg {
  background-image: linear-gradient(90deg, rgba(11,120,255,0.95), rgba(10,102,216,0.95));
}
